<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href='static/bootstrap.css'/>
    <title>fortune | cowsay</title>
</head>
<body style="background-color:#f8f8f8;">

<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">fortune | cowsay</a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active"><a href="" target="_blank">Github</a></li>
    </ul>
  </div>
</nav>



<div class="row">
    <div class="col-md-3 col-md-offset-4">
        <pre class="block center" style="border: none; background: #f8f8f8">{{ cowsay }}</pre>
    </div>
</div>


</body>
</html>